<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kouveepetshop">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".Login"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Pengelolaan.Pengelolaan"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Pengelolaan.Hewan.Ukuran_Hewan_Edit"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Pengelolaan.Hewan.Hewan"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Pengelolaan.Hewan.Jenis_Hewan"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Pengelolaan.Hewan.Jenis_Hewan_Edit"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Pengelolaan.Hewan.Ukuran_Hewan"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Pengelolaan.Layanan.Layanan"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Pengelolaan.Layanan.Layanan_Tambah"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Pengelolaan.Layanan.Layanan_Edit"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Pengelolaan.Layanan.Jenis_Layanan"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Pengelolaan.Layanan.Jenis_layanan_Edit"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Pengelolaan.Produk.Produk"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Pengelolaan.Produk.Produk_Tambah"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Pengelolaan.Produk.Produk_Edit"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Pengelolaan.Produk.Kategori_Produk"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Pengelolaan.Produk.kategori_produk_edit"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity
            android:name=".Pengelolaan.Supplier.Supplier"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Pengelolaan.Supplier.Supplier_Tambah"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Pengelolaan.Supplier.Supplier_Edit"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Pengelolaan.Pegawai.Pegawai"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Pengelolaan.Pegawai.Pegawai_Edit"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Pengelolaan.Pegawai.Pegawai_Tambah"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <activity
            android:name=".Pengelolaan.Member.Member"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Pengelolaan.Member.Member_Edit"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Pengelolaan.Member.Member_Tambah"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <activity
            android:name=".CS_MainActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".CS_Transaksi.Transaksi"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".CS_Transaksi.Transaksi_Tambah"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".CS_Transaksi.TransaksiPenjualan"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".CS_Transaksi.TransaksiPenjualanKeranjang"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".CS_Transaksi.TransaksiLayanan"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".CS_Transaksi.TransaksiLayananKeranjang"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".CS_Transaksi.TransaksiLayananKeranjang_Edit"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".CS_Transaksi.TransaksiLayananKeranjang_Tambah"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>